html, body{
    margin: 5px solid rgb(6, 6, 6);
    border: 0;
    padding: 0;
    background-color: rgb(6, 6, 6);
}

h1, h2, p, li{
    font-family: sans-serif;
    color: whitesmoke;
}

#return{
    font-family: sans-serif;
    text-align: right;
}